---
---

@import "{{ site.theme }}";

header {
  display: none;
}

section {
  float: none;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  border: 0;
  padding: 20px 0;
}

.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

@media print, screen and (max-width: 960px) {
  section {
    width: 100%;
  }
}